body {
    margin: 0;
    padding: 0;
    background: #FAF7F3;
    font-family: 'bitbit';
    font-size: 16px;
    color: #444;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'bitbit';
    src: url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'), url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2');
}


/* MAIN */
#main {
    width: 640px;
    margin: 50px auto;
    position: relative;
}

.copy {
    position: absolute;
    bottom: -40px;
    left: 200px;
    color: #888;
    font-size: 10px;
}


/* NAV */
#nav {
    width: 100%;
}

.nav {
    background: #fff;
    box-shadow: 0 0 15px #44444415;
    box-sizing: border-box;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    cursor: pointer;
    border-radius: 18px;
    padding: 9px 45px;
    margin: 0 20px;
    transition: all .2s ease;
}

.btn:hover {
    background: #FFCDC9;
    color: #fff;
    transition: all .2s ease;
}


/* BOX */
.textbox {
    width: 100%;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 0 15px #44444415;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 15px;
    position: absolute;
    top: 70px;
    left: 0;
}

/* HOME */
.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hleft {
    width: 40%;
    display: flex;
    align-items: center;
}

.me img {
    width: 100%;
}

.me p {
    font-size: 14px;
}

.hright {
    width: 55%;
}

.section {
    display: flex;
    flex-wrap: wrap;
}

.section li {
    width: 100%;
}

h3 {
    color: #FFCDC9;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
}


/* LOVE */
.gamebox {
    margin-bottom: 20px;
}

.gamesec {
    display: flex;
    flex-wrap: wrap;
}

.gamesec li {
    width: 110px;
    height: 110px;
    display: block;
    position: relative;
    margin-right: 20px;
}

.image img {
    width: 100%;
}

.subname {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000025;
    text-align: left;
    color: #fff;
    padding: 50px 5px 5px 5px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s;
}

.vasec {
    display: flex;
    flex-wrap: wrap;
}

.vasec li {
    width: 110px;
    height: 110px;
    display: block;
    position: relative;
    margin-right: 20px;
}

.anisec {
    display: flex;
    flex-wrap: wrap;
}

.anisec li {
    width: 110px;
    height: 110px;
    display: block;
    position: relative;
    margin-right: 20px;
}

.mobsec {
    display: none;
}

.gamesec li:hover .subname {
    opacity: 1;
    transition: all 0.3s;
}

.vasec li:hover .subname {
    opacity: 1;
    transition: all 0.3s;
}

.anisec li:hover .subname {
    opacity: 1;
    transition: all 0.3s;
}


/* ETC */
.eleft {
    width: 60%;
}

.link {
    display: flex;
    flex-wrap: wrap;
}

.link li a {
    display: inline-block;
    padding: 8px 15px;
    border: 0.3px solid #000;
    border-radius: 10px;
    margin-right: 10px;
    transition: all .2s;
}

.link li a:hover {
    background: #FFCDC9;
    color: #fff;
    border-color: #FFCDC9;
    transition: all .2s;
}


/* MEDIA */
@media (max-width:690px) {
    #main {
        width: 90%;
    }

    #nav {
        width: 100%;
    }

    .btn {
        margin: 0;
    }

    .textbox {
        width: 100%;
        padding: 50px;
        line-height: 15px;
    }

    .hleft {
        width: 100%;
        text-align: center;
    }

    .me img {
        width: 90%;
    }

    .hright {
        width: 100%;
    }

    .section li:nth-child(1) {
        width: 50%;
    }

    .section li:nth-child(2) {
        width: 50%;
    }

    .gamebox li {
        margin-bottom: 20px;
    }

    .copy {
        left: 28%;
    }
}

@media (max-width:450px) {
    .textbox {
        top: 160px;
        line-height: 1.1em;
    }

    .nav {
        text-align: center;
        padding: 10px;
    }

    .btn {
        width: 80%;
        margin: 2px 0;
    }

    .section li:nth-child(1) {
        width: 100%;
    }

    .section li:nth-child(2) {
        width: 100%;
    }

    .gamebox {
        display: none;
    }

    .vabox {
        display: none;
    }

    .anibox {
        display: none;
    }

    .mobsec {
        display: block;
    }

    .copy {
        left: 17%;
    }
}